@import "tailwindcss";

#btn.active:hover {
  animation: next-slide 0.8s ease-in-out 3;
  transform-origin: 70% 100%;
}

@keyframes next-slide {
  0% {
    transform: rotate3d(0, 0, 1, -20deg) skewX(-7deg);
    background: #091209;
    color: white;
  }
  50% {
    transform: rotate3d(1, 1, 0, 25deg) skewX(5deg);
    background: #b88629;
    color: black;
  }
  100% {
    transform: rotate3d(0, 0, 0, 0deg) skewX(0deg);
    background: #7d7d7d;
    color: white;
  }
}
